
    #headerDetails {
        background-color: #a96d55;
        width: 100%;
        color: white;
        padding: 15px;
        font-size: 18px;
    }

    #menu {
        height: 40px;
        text-align: right;
    }

    #wrapper {
        background-image: url(Screenshot\ from\ 2022-04-15\ 12-32-52.png);
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        text-align: center;
    }

    a.menuelement {
        text-decoration: none;
        margin-top: 5px;
        font-size: 15px;
        margin-right: 12px;
        color: black;
        display: inline-block;
        border-top: 3px solid white;
        padding: 1px;
    }

    a.menuelement:hover {
        color: #a96d55;
        border-top: 3px solid #a96d55;
        padding: 1px;

    }

    .col {
      font-size: 18px;
      min-width: 400px;
    }

    .contact {
        color: #a96d55;
    }

    .uftype {
        color: #a96d55;
    }
    .contentHeader {
        text-align: center;
        color: #a96d55;
    }
    .content {
        margin-top: 3%;
        margin-left: 1%;
        margin-bottom: 3%;
    }
 
    @media only screen and (max-width: 900px) {
  #menu {
    display: none;
  }
  .mobileMenu {
      display: block;
      font-size: 30px;
      position: left 0;
  }
  #mobileMenu{
        width: 100%;
        display: none;
    }
    #mobileMenu.menuelement {
        width: 100%;
        display: inline-block;
    }
  body {
        text-align: center;
    }
  .col {
      margin-top: 20px;
  }
  .map {
      width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .mobileMenu {
    display: none;
  }
  #mobileMenu {
      display: none;
  }
  .map {
      max-width: 500px;
  }
}

    @media only screen and (max-width: 600px) {

}
.hasznosLinkek {
    text-decoration: none;
    color:#a96d55;
}
.bold {
    font-weight: bold;
}
.plusIcon {
    display:inline-block;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    width: 30px;
    font-size: 18px;
}
.plusIcon:hover {
    background-color:#a96d55;
}
#kerdesek {
    margin-left: 3%;
}